.signupTitle {
  height: 100%;
}
.containerSign {
  height: 80%;
}
.card-body {
  height: 450px;
}

.card-body form input,
.card-body form button {
  margin: 20px 40px;
}

.loginDetailsBtn {
  height: 40px;
}

.loginHeaderTitle {
  font-size: 40px;
}
