.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px !important;
  background-color: var(--calmBlue);
}

/* Creating a flex container */
.contact-links ul {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.copyRight {
  padding: 10px;
  padding-top: 0px;
  color: black;
  text-align: center;
}

.contactH1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.footer-li {
  list-style: none;
  align-self: right;
  border: 2px solid var(--calmBlue);
  margin: 10px 20px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: var(--white);
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Hovering over images */
.footer-li:hover {
  border: 2px solid var(--white);
  border-radius: 3px;
}

a {
  text-decoration: none;
}
a {
  color: var(--white);
} /* Unvisited link  */
a:visited {
  color: var(--white);
} /* Visited link    */
a:hover {
  color: var(--white);
} /* Mouse over link */
a:active {
  color: var(--white);
}

footer .contact-me {
  align-items: center;
}

.contactContainer {
  display: block;
}
.contactHeader {
  text-align: center;
}
