.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .App {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .App .column {
    width: 95%;
    text-align: center;
  }

  .droppable-col {
    width: 100%;
    height: 50px;
  }
  .column {
    flex-direction: column;
    display: flex;
  }

  .column h3 {
    text-align: center;
  }

  #High div {
    background-color: tomato;
  }

  #Medium div {
    background-color: orange;
  }

  #Low div {
    background-color: none;
  }

  #High div div,
  #Medium div div,
  #Low div div {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
