body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.column {
  min-height: 350px;
  align-items: center;
}
.submitForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

form {
  margin-bottom: 50px;
}

.submitForm div {
  display: flex;
  flex-direction: column;
}
.iteminput {
  width: 9%;
}
.itemAdd button {
  height: 35px;
  font-size: 20px;
}

.item {
  margin: 5px;
}

.itemdivs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 30px;
}

.itemdivs div {
  width: 9%;
  overflow-wrap: break-word;
}

.inputField {
  height: 40px;
  font-size: 15px;
  padding-left: 10px;
}

.itemList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}
.itemList div {
  width: 8%;
}
